<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carlos Game</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" />

    <link rel="stylesheet" href="/css/app.css" />
    <script src="/js/tracking.js"></script>
    <script src="/js/track-color.js"></script>
    <script src="/js/app.js"></script>
</head>
<body>
    <div id="carlos"></div>
    <div id="ball"></div>

    <div id="score">
        <div id="carlos-score" class="score-box">
            <p>Carlos</p>
            <strong class="total">0</strong>
        </div>

        <div class="divider">X</div>

        <div id="ball-score" class="score-box">
            <p>Bola</p>
            <strong class="total">5</strong>
        </div>
    </div></body>
</html>